footer {
    height: 56px;
    font: {
        size: 1rem;
    }
    color: #fff;
    background: #212121;

    .row {
        & > div {
            height: 56px;
            padding-top: 6px;
            line-height: 22px;
            letter-spacing: .6px;
        }
    }
}